<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{primary-template}">
<head><title>Cestas</title></head>
<body>

<span layout:fragment="title">Cesta</span>
<div layout:fragment="content">

    <div class="card-container">
        <div class="ec-table-toolbar">
            <div class="ec-table-toolbar-actions">
                <div th:replace="~{layout/fragments/crud/crud-actions::crudactions(href=@{/cesta/create})}"></div>
            </div>
            <div th:replace="~{layout/fragments/crud/toolbar-search::toolbar-search(path='/cesta')}"></div>
        </div>

        <div class="ec-table-container">
            <table class="ec-table" aria-describedby="Cesta List">
                <thead>
                <tr>
                    <th th:replace="~{layout/fragments/th-select-all}"></th>
                    <th>Nome</th>
                    <th>Qtde. Estoque</th>
                    <th>Descrição</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${entities}">
                    <td>
                        <div class="actions">
                            <div class="form-check">
                                <input name="selectRow" class="form-check-input" type="checkbox" data-th-id="${row.id}"
                                       aria-label="selectRow">
                            </div>
                        </div>
                    </td>
                    <td th:text="${row.nome}" ></td>
                    <td th:text="${row.quantidadeEstoque}" ></td>
                    <td th:text="${row.descricao}" ></td>
                </tr>
                </tbody>
            </table>

            <div th:replace="~{layout/fragments/paginator::paginator(path='/cesta')}"></div>
        </div>
    </div>

    <!-- Modal Container: All modals will be inside here -->
    <div class="modal-container" id="modalContainer"></div>
</div>

</body>