<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{crud-template}">
<head>
    <title th:text="#{cesta}"></title>
</head>
<body>

<span layout:fragment="title" th:text="#{cesta}"></span>
<div layout:fragment="content">

    <div class="card-container overflow-auto">
        <div class="ec-table-toolbar">
            <div class="ec-table-toolbar-actions">
                <th:block th:insert="~{cesta/list-actions::crudactions}"></th:block>
            </div>
        </div>
        <table class="spg-datatable table table-striped table-bordered table-hover border-top">
            <thead>
            <tr>
                <th th:text="#{entity.id}"></th>
                <th th:text="#{cesta.nome}"></th>
                <th th:text="#{cesta.quantidade}"></th>
                <th th:text="#{cesta.descrição}"></th>
            </tr>
            </thead>
        </table>

    </div>

    <!-- Modal Container: All modals will be inside here -->
    <div class="modal-container" id="modalContainer"></div>
</div>

<script layout:fragment="local-script">
    $('.spg-datatable').DataTable(configureDatatable({
        endpoint: '/cesta',
        columns: [
            {data: "id"},
            {data: "nome"},
            {data: "quantidadeEstoque"},
            {data: "descricao"}
        ]
    }));

    setSelectHandler('.spg-datatable');
</script>

</body>