<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{primary-template}">
<head><title>Cestas</title></head>
<body>

<span layout:fragment="title">Cesta</span>
<div layout:fragment="content">

    <div class="card-container">
        <div class="ec-table-toolbar">
            <div class="ec-table-toolbar-actions">
                <th:block th:insert="~{cesta/list-actions::crudactions}"></th:block>
            </div>
            <div th:replace="~{layout/fragments/crud/toolbar-search::toolbar-search(path='/cesta')}"></div>
        </div>

        <div class="ec-table-container">
            <th:block th:insert="~{cesta/list-datatable::datatable}" ></th:block>

            <div th:replace="~{layout/fragments/paginator::paginator(path='/cesta')}"></div>
        </div>
    </div>

    <!-- Modal Container: All modals will be inside here -->
    <div class="modal-container" id="modalContainer"></div>
</div>

</body>