<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{crud-template}">
<body>

<span layout:fragment="title" th:text="${@helper.getOperation(valorParametro)}"></span>
<div layout:fragment="content"
     th:with="dataType=${valorParametro.parameter.dataType}">

    <div class="card-container overflow-hidden">
        <!--/*@thymesVar id="nomeTipo" type="java.lang.String"*/-->

        <form id="entityForm" method="POST" th:action="@{'/parametro' + ${urlPOST}}" th:object="${valorParametro}">
            <input type="hidden" id="id" name="id" th:field="*{id}"/>
            <input type="hidden" id="dataType" name="dataType" th:field="*{parameter.dataType}"/>
            <div class="ec-table-toolbar">
                <div class="ec-table-toolbar-actions">
                    <a class="btn btn-secondary opacity-75" th:href="@{/parametro}" role="button">
                        <i class="bi bi-arrow-left"></i>
                    </a>

                    <button type="submit" class="btn btn-primary btn-save">
                        <i class="bi bi-check-lg"></i>
                        <span class="btn-label">Salvar</span>
                    </button>
                </div>
            </div>

            <div class="ec-fields-container">
                <div class="row m-0 pb-3 g-4">
                    <div class="col-6">
                        <label for="title" th:text="#{parametro}"></label>
                        <input type="text" class="form-control" id="title" autofocus="autofocus"
                               th:field="*{parameter.name}" required readonly/>
                    </div>
                    <div class="col-6">
                        <label for="dominio" th:text="#{parametro.dominio}"></label>
                        <input type="text" class="form-control" id="dominio"
                               th:field="*{parameter.domain}" required readonly/>
                    </div>

                    <th:block th:if="${dataType.isBoolean()}" th:insert="~{parametro/valor-parametro-boolean}" />
                    <th:block th:if="${dataType.isNumeric()}" th:insert="~{parametro/valor-parametro-numerico}" />
                    <th:block th:if="${dataType.isJson()}" th:insert="~{parametro/valor-parametro-json}" />
                    <th:block th:if="${dataType.isHtml()}" th:insert="~{parametro/valor-parametro-html}" />
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Container: All modals will be inside here -->
    <div class="modal-container" id="modalContainer">

        <!-- Modal: Module -->
        <div class="modal fade" id="modalModule" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="modalModuleLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="modalModuleForm" th:action="@{/module/save}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Module</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="courseId" name="courseId"/>
                            <input type="hidden" id="entityId" name="id"/>

                            <div class="modal-messages-container"></div>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="inputName" class="form-label">Name: </label>
                                    <input type="text" class="form-control" id="inputName" name="name" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span class="d-none d-md-block">Cancel</span>
                                <i class="bi bi-x-lg d-block d-md-none"></i>
                            </button>
                            <button type="submit" id="saveNewAction" class="btn btn-primary save-modal-form">
                                Save & New
                            </button>
                            <button type="submit" id="saveAction" class="btn btn-primary save-modal-form">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>