<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{crud-template}">
<head>
    <title th:text="#{parametros}"></title>
</head>
<body>

<span layout:fragment="title" th:text="#{parametro}"></span>
<div layout:fragment="content"
     th:with="permiteConfiguracao=true">

    <div class="card-container">

        <!-- Pesquisar -->
        <form method="POST" th:action="@{/parametro/pesquisar}" th:object="${searchForm}" >
            <div class="ec-fields-container">
                <div class="row row-cols-1 row-cols-md-2 m-0 pb-3 g-4">
                    <div class="col">
                        <label for="completeParametro" th:text="#{parametro}"></label>
                        <div class="input-group">
                            <select id="completeParametro" class="form-select select2-single" th:field="*{parametro}">
                                <option value="" th:text="#{autocomplete.select}"></option>
                                <option th:each="enum : ${parametroList}"
                                        th:value="${enum.id}"
                                        th:text="${enum.text}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div  class="ec-table-toolbar pb-2">
                    <div class="ec-table-toolbar-actions">
                        <button type="submit" class="btn btn-secondary">
                            <span class="btn-label">Pesquisar</span>
                        </button>
                        <th:block th:unless="${instancia == null}">
                            <a  th:if="${instancia.dataType.isBoolean()}"
                                th:href="@{/parametro/configurar-logico}" class="btn btn-secondary">Configurar</a>

                            <a  th:if="${instancia.dataType.isNumeric()}"
                                th:href="@{/parametro/configurar-numeric}" class="btn btn-secondary">Configurar</a>

                            <a  th:if="${instancia.dataType.isJson()}"
                                th:href="@{/parametro/configurar-json}" class="btn btn-secondary">Configurar</a>

                            <a  th:if="${instancia.dataType.isHtml()}"
                                th:href="@{/parametro/configurar-html}" class="btn btn-secondary">Configurar</a>
                        </th:block>
                    </div>
                </div>
            </div>

            <table class="spg-datatable table table-striped table-bordered table-hover border-top"
                   th:unless="${instancia == null}" >
                <thead>
                    <tr>
                        <th th:text="#{parametro}"></th>
                        <th th:text="#{parametro.dtype}"></th>
                        <th th:text="#{parametro.dominio}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${instancia.name}"></td>
                        <td th:text="${instancia.dataType}"></td>
                        <td th:text="${instancia.domain}"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- Modal Container: All modals will be inside here -->
    <div class="modal-container" id="modalContainer"></div>
</div>

</body>