<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="datatable">
    <li sec:authorize="hasAnyRole('ROLE_DASHBOARD')">
        <a th:href="@{/dashboard}"><i class="bi bi-pie-chart-fill"></i><span th:text="#{menu.dashboard}"></span></a>
    </li>
    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DISTRIBUICAO_CESTA')">
        <a th:href="@{/distribuicao-cesta}">
            <i class="bi bi-person-fill-check"></i>
            <span th:text="#{menu.distribuicao.cesta}"></span>
        </a>
    </li>
    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_BENEFICIARIO')">
        <a th:href="@{/beneficiario}">
            <i class="bi bi-people-fill"></i>
            <span th:text="#{menu.beneficiarios}"></span>
        </a>
    </li>
    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_VOLUNTARIO')">
        <a th:href="@{/voluntario}">
            <i class="bi bi-person-video3"></i>
            <span th:text="#{menu.voluntarios}"></span>
        </a>
    </li>
    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CESTA')">
        <a th:href="@{/cesta}">
            <i class="bi bi-basket2"></i>
            <span th:text="#{menu.cestas}"></span>
        </a>
    </li>
    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_RELATORIOS')">
        <a th:href="@{/distribuicao-por-periodo}">
            <i class="bi bi-newspaper"></i>
            <span th:text="#{menu.relatorios}"></span>
        </a>
    </li>
    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONFIGURACAO')">
        <a th:href="@{/settings}">
            <i class="bi bi-gear-fill"></i>
            <span th:text="#{menu.configuracao}"></span>
        </a>
    </li>

</th:block>
