<li><a th:href="@{/dashboard}"><i class="bi bi-pie-chart-fill"></i><span>Dashboard</span></a></li>
<li><a th:href="@{/distribuicao-cesta}"><i class="bi bi-person-fill-check"></i><span>Distribuição de Cestas</span></a></li>
<li><a th:href="@{/beneficiario}"><i class="bi bi-people-fill"></i><span>Beneficiários</span></a></li>
<li><a th:href="@{/voluntario}"><i class="bi bi-person-video3"></i><span>Voluntários</span></a></li>
<li><a th:href="@{/cesta}"><i class="bi bi-basket2"></i><span>Cestas</span></a></li>
<li><a th:href="@{/distribuicao-por-periodo}"><i class="bi bi-newspaper"></i><span>Relatórios</span></a></li>
<li><a th:href="@{/settings}"><i class="bi bi-gear-fill"></i><span>Configuração</span></a></li>