<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
   aria-expanded="false">
    <span th:text="${@userHelper.currentUserReduceFullName()}" class="rounded-circle p-3" style="background: #559fcc; font-weight: 800"> </span>
</a>
<ul class="dropdown-menu dropdown-menu-end text-small mt-2" aria-labelledby="dropdownUser1">
    <li><a class="dropdown-item" th:href="@{/auth/user-profile}" th:text="#{menu.usuario.meu.perfil}"></a></li>
    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalBuildInfo" th:text="#{menu.usuario.versao}"></a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" th:href="@{/logout}" th:text="#{menu.usuario.logout}"></a></li>
</ul>
