<div class="ec-table-toolbar-search" th:fragment="toolbar-search">
    <form id="searchForm" th:action="@{${path}}">
        <div class="input-group">
            <input type="text" class="form-control shadow-none" id="inputSearch" aria-describedby="Search"
                   aria-label="search" autocomplete="off" placeholder="Buscar..."
                   name="search">
            <button class="btn btn-sm btn-secondary" type="submit" id="submitSearch">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
</div>
