<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{/assets/select2-4.1.0-rc.0/js/select2.full.js}"></script>

    <script th:src="@{/js/utils.js}"></script>
    <script th:src="@{/js/constants.js}"></script>
    <script th:src="@{/js/class-mapper.js}"></script>
    <script th:src="@{/js/mask.js}"></script>
    <script th:src="@{/js/fetch-handler.js}"></script>

    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{/js/paginator.js}"></script>
    <script th:src="@{/js/table-multiple-select.js}"></script>
    <script th:src="@{/js/elipse.js}"></script>
    <script th:src="@{/js/crud.js}"></script>
    <script th:src="@{/js/autocomplete.js}"></script>
</footer>