<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="Jardel Nunes"/>
    <link rel="icon" th:href="@{/images/favicon.svg}"/>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Edificad</title>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/elipse.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>

<!--    <script th:href="@{/webjars/chartjs/4.1.2/dist/chart.js}"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script th:src="@{/js/ChartUtils.js}"></script>

</head>
<body>
</body>
</html>