<div id="messages">
    <div th:if="${messages != null and (messages.withSuccess or messages.success.size() > 0)}">
        <div class="alert text-start alert-success alert-dismissible fade show" role="alert">
            <div th:each="msg : ${messages.success}">
                <span th:text="${msg}"></span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div th:if="${messages != null and (messages.withWarning or messages.warning.size() > 0)}">
        <div class="alert text-start alert-warning alert-dismissible fade show" role="alert">
            <div th:each="msg : ${messages.warning}">
                <span th:text="${msg}"></span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div th:if="${messages != null and (messages.withError or messages.error.size() > 0)}">
        <div class="alert text-start alert-danger alert-dismissible fade show" role="alert">
            <div th:each="msg : ${messages.error}">
                <span th:text="${msg}"></span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>