<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{crud-template}">
<head>
    <title th:text="#{voluntario}"></title>
</head>
<body>

<span layout:fragment="title" th:text="#{voluntario}"></span>
<div layout:fragment="content">

    <div class="card-container">
        <div class="ec-table-toolbar">
            <div class="ec-table-toolbar-actions">
                <th:block th:insert="~{voluntario/list-actions::crudactions}"></th:block>
            </div>
        </div>

        <table class="spg-datatable table table-striped table-bordered table-hover border-top">
            <thead>
            <tr>
                <th></th>
                <th th:text="#{entity.id}"></th>
                <th th:text="#{pessoa.nome}"></th>
                <th th:text="#{pessoa.email}"></th>
                <th th:text="#{pessoa.phone}"></th>
                <th th:text="#{pessoa.cpf}"></th>
                <th th:text="#{pessoa.data.nascimento}"></th>
                <th th:text="#{voluntario.qtde.projetos}"></th>
            </tr>
            </thead>
        </table>
    </div>

    <!-- Modal Container: All modals will be inside here -->
    <div class="modal-container" id="modalContainer"></div>
</div>

<script layout:fragment="local-script">
    $('.spg-datatable').DataTable(configureDatatable({
        endpoint: '/voluntario',
        columns: [
            {
                className: 'dt-control',
                orderable: false,
                data: null,
                defaultContent: ''
            },
            {data: "id"},
            {data: "nome"},
            {data: "email"},
            {data: "telefone"},
            {data: "cpf"},
            {data: "data_nascimento"},
            {data: "numero_projetos_participados"},
        ],
        order: [1, 'asc'],
    }));

    setSelectHandler('.spg-datatable');
    addRowExpansionEventListener('.spg-datatable', data => buildEndereco(data.endereco));

</script>

</body>