<div class="col" th:fragment="chartcestasentregues">
    <div class="card  d-flex align-items-center justify-content-center user-select-none">
        <div class="card-header col-12 bg-white text-center border-bottom-0">
            <span class="col-12 text-secondary">DISTRIBUIÇÃO POR MÊS</span>
        </div>
        <div class="card-body">
            <canvas id="cestasEntregues" height="250"></canvas>
            <script th:inline="javascript">

                let cestasEntreguesJSON = /*[(${chartCestasEntregues})]*/ [];
                new Chart(document.getElementById('cestasEntregues'), {
                    type: 'bar',
                    data: ChartUtils.jsonToBarChartData(cestasEntreguesJSON),
                    options: ChartUtils.getBarChartOptions(false)
                });
            </script>
        </div>
    </div>
</div>
