<div class="col" th:fragment="chartcestasentregues">
    <div class="card  d-flex align-items-center justify-content-center">
        <div class="card-header col-12 bg-white text-center border-bottom-0">
            <span class="col-12">ASSISTÊNCIA POR MÊS</span>
        </div>
        <div class="card-body">
            <canvas id="resumoBeneficiariosAssistidos" height="250"></canvas>
            <script th:inline="javascript">

                let chartBeneficiariosAssistidosJSON = /*[(${chartBeneficiariosAssistidos})]*/ [];
                new Chart(document.getElementById('resumoBeneficiariosAssistidos'), {
                    type: 'line',
                    data: ChartUtils.jsonToLineChartData(chartBeneficiariosAssistidosJSON),
                    options: ChartUtils.getLineChartOptions(false)
                });
            </script>
        </div>
    </div>
</div>
