<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{primary-template}">

<th:block layout:fragment="custom-styles">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script th:src="@{/js/ChartUtils.js}"></script>
    <link rel="stylesheet" th:href="@{/css/custom-datatables.css}">

    <!-- scripts inside owner pages -->
    <th:block layout:fragment="local-styles"/>
</th:block>
<body>


<span layout:fragment="title"></span>
<div layout:fragment="content"></div>


<th:block layout:fragment="custom-scripts">
    <script th:src="@{/js/autocomplete.js}"></script>
    <script th:src="@{/js/edificad-commons.js}"></script>
    <!-- scripts inside owner pages -->
    <th:block layout:fragment="local-script"/>
</th:block>
</body>