<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{primary-template}">

<th:block layout:fragment="custom-styles">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script th:src="@{/js/ChartUtils.js}"></script>
</th:block>

<body>
    <span layout:fragment="title"></span>
    <div layout:fragment="content"></div>

    <th:block layout:fragment="custom-scripts">
        <script th:src="@{/js/crud.js}"></script>
        <script th:src="@{/js/autocomplete.js}"></script>
    </th:block>
</body>