<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{layout/fragments/head::head}">
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Edificad</title>
</head>
<body>
<div id="menu">
    <div class="logo">IMG LOGO</div>
    <div class="items">
        <div th:insert="~{layout/sidebar}"></div>
    </div>
</div>

<div id="container">
    <div class="top-menu">
        <div class="left">
            <div><i id="menu-button" class="bi bi-list"></i></div>
            <span layout:fragment="title"></span>
        </div>
        <div class="profile">
            <div class="dropdown ms-2" th:insert="~{layout/topbar}"></div>
        </div>
    </div>

    <div id="content" class="content">
        <div class="container">
            <div th:replace="~{layout/fragments/messages}"></div>
            <div layout:fragment="content"></div>
        </div>

    </div>
</div>

<footer th:replace="~{layout/fragments/footer::footer}"></footer>
</body>
</html>


