<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="Jardel Nunes"/>
    <title>Edificad</title>

    <link rel="icon" th:href="@{/images/favicon.ico}"/>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/elipse.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>

    <style>
        body {
            height: 100vh;
        }

        .login-img {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-img img {
            width: 70px;
        }
    </style>
</head>
<body>


<main class="form-signin m-auto">
    <form th:action="@{/ussuser/save}" method="POST" th:object="${entity}">
        <!--
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        -->
        <div class="login-img">
            <img class="mb-4" th:src="@{/images/favicon.ico}" alt="logo">
        </div>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div th:if="${param.error}">
            <div class="alert text-start alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span>
            </div>
        </div>
        <div class="form-floating">
            <input type="email" id="email" th:name="email" class="form-control" placeholder="name@example.com"
                   autocomplete="off">
            <label for="email">Email </label>
        </div>
        <div class="form-floating mt-2">
            <input type="text" id="fullName" th:name="fullName" class="form-control" placeholder="Full Name"
                   autocomplete="new-password">
            <label for="fullName">Full Name</label>
        </div>
        <div class="form-floating my-2">
            <input type="password" id="password" th:name="password" class="form-control" placeholder="Password"
            autocomplete="off">
            <label for="password">Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign Up</button>

        <div class="login-options">
            <a th:href="@{/ussuser/login}">Sing in?</a>
        </div>
    </form>
</main>


<footer th:fragment="footer">
    <!--    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>-->
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/elipse.js"></script>
</footer>
</body>
</html>


