<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{secondary-template}">
<body>

<div layout:fragment="content">
    <form method="POST" th:action="@{/eds-user/save-password}" th:object="${resetPassword}">
        <input type="hidden" th:field="*{token}">

        <div class="form-floating">
            <input type="password" class="form-control" id="password" autofocus="autofocus"
                   th:field="*{newPassword} " required/>
            <label for="password">Senha</label>
        </div>
        <div class="form-floating my-2">
            <input type="password" class="form-control" id="passwordConfirmation"
                   th:field="*{newPasswordConfirmation}" required/>
            <label for="passwordConfirmation">Confirmar Senha</label>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2">Confirmar</button>
    </form>

</div>
</body>



