<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{crud-template}">
<body>

<!--<span layout:fragment="title" th:text="${@helper.getOperation(entity)}"></span>-->
<div layout:fragment="content">

    <div class="card-container overflow-hidden">
        <form id="entityForm" method="POST" th:action="@{/distribuicao-cesta/save}" th:object="${entity}">
            <!--            <input type="hidden" id="id" name="course" th:field="*{id}"/>-->
            <div class="ec-table-toolbar">
                <div class="ec-table-toolbar-actions">
                    <a class="btn btn-secondary opacity-75" th:href="@{/distribuicao-cesta}" role="button">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <div th:replace="~{layout/fragments/crud/save-buttons}"></div>
                </div>
            </div>

            <div class="ec-fields-container">
                <div class="row row-cols-1 row-cols-md-2 m-0 pb-3 g-4">
                    <div class="col">
                        <label for="completeBeneficiario" th:text="#{beneficiario}"></label>
                        <div class="input-group">
                            <select id="completeBeneficiario" class="form-select select2-single" th:field="*{beneficiario}" required>
                                <option value="" th:text="#{autocomplete.select}"></option>
                                <option th:each="beneficiario : ${beneficiarioList}" th:value="${beneficiario.id}"
                                        th:text="${beneficiario.nome}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label for="completeCesta" th:text="#{cesta}"></label>
                        <div class="input-group">
                            <select id="completeCesta" class="form-select select2-single" th:field="*{cesta}" required>
                                <option value="" th:text="#{autocomplete.select}"></option>
                                <option th:each="cesta : ${cestaList}" th:value="${cesta.id}"
                                        th:text="${cesta.nome}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label for="completeVoluntario" th:text="#{voluntario}"></label>
                        <div class="input-group">
                            <select id="completeVoluntario" class="form-select select2-single" th:field="*{voluntario}" required>
                                <option value="" th:text="#{autocomplete.select}"></option>
                                <option th:each="voluntario : ${voluntarioList}" th:value="${voluntario.id}"
                                        th:text="${voluntario.nome}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <label for="dataEntrega">Entrega</label>
                        <input type="datetime-local" class="form-control" id="dataEntrega" th:field="*{dataHora}"
                               required/>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <!-- Modal Container: All modals will be inside here -->
    <div class="modal-container" id="modalContainer"></div>

</div>
</body>